/* Navbar Design */

.navbar {
  width: 100vw;
  background-color: black;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1em;
}

li a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

/* Section Design */

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

section:first-child {
  height: 30vh;
}

.section:nth-child(even) {
    flex-direction: row-reverse; /* alterne image */ 
}

.HomeDiv {
    background-color: aliceblue;
}

.AboutSDiv {
    background-color: bisque;
}

.DownloadDiv {
    background-color: aliceblue;
}

.AboutUDiv {
    background-color: bisque;
}

/* TopBtn */
.topBtn {
    position: fixed;
    font-size: 50px;
    border: 2px solid aquamarine;
    background-color: aliceblue;
    cursor: pointer;
    top: 91%;
    left: 93%;
}

/* Responsive */

@media (max-width: 768px) {
  
  /* Responsive Section */ 
  
  section {
      flex-direction: column;
  }
  
  /* Responsive Button */
  
  .topBtn {
      top: 80%;
      left: 82%;
  }
}
